<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
  <div class="container px-5">
    <a class="navbar-brand fw-bold" href="#page-top">Gaigel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
        <li class="nav-item"><a class="nav-link me-lg-3" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link me-lg-3" href="#rules">Game Rules</a></li>
      </ul>
      <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="/list">
        <span class="d-flex align-items-center">
          <i class="bi bi-play-fill me-2"></i>
          <span class="small">Play Now</span>
        </span>
      </a>
    </div>
  </div>
</nav>
<!-- Mashead header-->
<header class="masthead">
  <div class="container">
    <div class="row gx-5 align-items-center">
      <div class="col-sm-6">
        <!-- Mashead text and app badges-->
        <div class="mb-5 mb-lg-0 text-center text-lg-start">
          <h1 class="display-1 lh-1 mb-3">Play Gaigel with your friends online!</h1>
          <p class="lead fw-normal text-muted mb-5">Play for free and without registration!</p>
          <div class="d-flex flex-column flex-lg-row align-items-center">
            <a class="btn btn-primary" href="/list"><i class="bi bi-play-fill me-2"></i>Play Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Masthead device mockup feature-->
        <div class="masthead-device-mockup">
          <img src="/images/headLogo.png" class="m-3" style="z-index: 20; width:100%">
          <svg class="circle" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50"></circle>
          </svg>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Quote/testimonial aside-->
<aside class="text-center bg-gradient-primary-to-secondary">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xl-8">
        <div class="h2 fs-1 text-white mb-4">"Create a room and invite your friends to play now!"</div>
        <a class="btn btn-primary" href="/create"><i class="bi bi-plus me-2"></i>Create a Room</a>

      </div>
    </div>
  </div>
</aside>
<!-- App about section-->
<section id="about">
  <div class="container-sm">
    <div class="row gx-5 align-items-center">
      <div class="col-sm-8 order-sm-1 mb-5 mb-sm-0">
        <div class="container-sm p-0">
          <div class="row gx-5">
            <div class="col-sm-6 mb-5">
              <!-- Feature item-->
              <div class="text-center">
                <i class="bi-people icon-feature text-gradient d-block mb-3"></i>
                <h3 class="font-alt">Play with your friends</h3>
                <p class="text-muted mb-0">Invite Friends to private rooms or join any public room!</p>
              </div>
            </div>
            <div class="col-sm-6 mb-5">
              <!-- Feature item-->
              <div class="text-center">
                <i class="bi-cloud-check icon-feature text-gradient d-block mb-3"></i>
                <h3 class="font-alt">Flexible to Use</h3>
                <p class="text-muted mb-0">No Account or registration needed!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 mb-5 mb-sm-0">
              <!-- Feature item-->
              <div class="text-center">
                <i class="bi-controller icon-feature text-gradient d-block mb-3"></i>
                <h3 class="font-alt">Free to Use</h3>
                <p class="text-muted mb-0">This app is totally free to play!</p>
              </div>
            </div>
            <div class="col-sm-6">
              <!-- Feature item-->
              <div class="text-center">
                <i class="bi-patch-check icon-feature text-gradient d-block mb-3"></i>
                <h3 class="font-alt">Open Source</h3>
                <p class="text-muted mb-0">This app is MIT licensed and publicly available on GitHub.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 order-sm-0">
        <!-- Features section device mockup-->
        <div class="features-device-mockup">
          <svg class="circle" viewBox="0 0 100 100">
            <defs>
              <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                <stop class="gradient-start-color" offset="0%"></stop>
                <stop class="gradient-end-color" offset="100%"></stop>
              </linearGradient>
            </defs>
            <circle cx="50" cy="50" r="50"></circle>
          </svg><img src="/images/headLogo.png" style="z-index: 20; width:100% ;">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Basic features section-->
<section class="bg-light">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
      <div class="col-md-6">
        <h2 class="display-4 lh-1 mb-4">About the project</h2>
        <p class="lead fw-normal text-muted mb-5 mb-lg-0">This app was developed in a student project at the university DHBW Stuttgart. It is based on Sails.js and Bootstrap.</p>
      </div>
      <div class="col-md-6">
        <div class="px-5 px-sm-0"><img class="img-fluid" src="/images/dhbw.gif" alt="DHBW Logo" /></div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action section-->
<section class="cta">
  <div class="cta-content">
    <div class="container px-5">
      <h2 class="text-white display-1 lh-1 mb-4">
        Stop waiting.
        <br />
        Start playing.
      </h2>
      <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="/list" target="_blank">Play for free</a>
    </div>
  </div>
</section>
<!-- App badge section-->
<section class="bg-light" id="rules">
  <div class="container">
    <div class="align-items-center justify-content-center mx-5 mb-2">
      <h2 class="font-alt mb-4">Game Rules</h2>
      In Gaigel one deck contains 48 playing cards. Each playing card exists twice. The description of the suits are typically called Eichel (Acorns), Schippen (Spades), Herz (Hearts) and Bollen (Bells).
      Within the four suits the precedence of cards is always the same: <br>
      Deuce (Ace, Ass, Alte) → Ten (Zehner) → King (König) → Ober (Queen) → Unter (Jack) → Seven (Dissle).
    </div>
  </div>
  <div>
    <aside class="text-center bg-gradient-primary-to-secondary">
      <img src="/images/rules/cards1.png" class="img-fluid img-rules"></img>
    </aside>
  </div>
  <div class="container">
    <div class="align-items-center justify-content-center px-5 mb-2">
      <h4 class="font-alt mt-4">Card values</h4>
      The following values (card points) are assigned to the individual cards:
      <table class="table table-bordered table-hover mt-2">
        <thead>
          <tr>
            <th scope="col">Card</th>
            <th scope="col">Other Names</th>
            <th scope="col">Symbol</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Deuce</th>
            <td>(Ace, Ass, Alte)</td>
            <td>A</td>
            <th>11</th>
          </tr>
          <tr>
            <th scope="row">Ten</th>
            <td>(Zehner)</td>
            <td>10</td>
            <th>10</th>
          </tr>
          <tr>
            <th scope="row">King</th>
            <td>(König)</td>
            <td>K</td>
            <th>4</th>
          </tr>
          <tr>
            <th scope="row">Ober</th>
            <td>(Queen)</td>
            <td>O</td>
            <th>3</th>
          </tr>
          <tr>
            <th scope="row">Unter</th>
            <td>(Jack)</td>
            <td>U</td>
            <th>2</th>
          </tr>
          <tr>
            <th scope="row">Seven</th>
            <td>(Siebener, Nixer, Dissle)</td>
            <td>7</td>
            <th>0</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="align-items-center justify-content-center px-5 mb-2  ">
      <h4 class=" font-alt mt-4">Aim</h4>
      The aim of the game is to score 101 points. As soon as a player has 101 points or more he wins the round. If all cards are played and no player has reached 101 points, the player with the most points wins.
      <br>
      <div class="text-center">
        <i class="bi bi-trophy icon-feature"></i>
        <i class="bi bi-trophy icon-feature"></i>
        <i class="bi bi-trophy icon-feature"></i>
      </div>
      <h4 class="font-alt mt-4">Trump</h4>
      The dealer takes a card, which is used to determine the trump suit, and places it face up in the centre of the table. The deck is then placed crosswise on top of the trump card
      in the middle of the table so that latter remains partly visible.
    </div>
  </div>
  <div>
    <aside class="text-center bg-gradient-primary-to-secondary">
      <img src="/images/rules/deck-trump.png" height="90px"></img>
    </aside>
  </div>
  <div class="container">
    <div class="  align-items-center justify-content-center px-5 mb-2">
      <h4 class="font-alt mt-4">Playing</h4>
      Gaigel is played in anti-clockwise fashion (colloquially described as "rechtsherum haut man an die Backe").
      Games of two or three players are played singly: each player is on his own.
      In games with four or six players, it is usual to play "crosswise" ("über Kreuz"): the players sitting opposite one another form teams of two whose tricks are counted together. Because of their seating
      arrangement, a game of four players is a so-called "Kreuzgaigel" ("Cross Gaigel"). In Kreuzgaigel, the playing partners remain the same during a games night.
      <br>
      <div class="text-center align-middle">
        <i class="bi bi-arrow-counterclockwise icon-feature" id="icon-cc"></i>
        <i class="bi bi-arrows-fullscreen icon-feature" id="icon-cc"></i>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="  align-items-center justify-content-center px-5 mb-2">
      <h4 class="font-alt mt-4">Opening</h4>
      The beginning player is called the forehand (Vorhand) or eldest hand and leads to the first trick.
      In opening the play, he has to choose one of several options and announce it to the other player(s). For the first trick, the rule is that trumps may not be played:
      <ul class="list-group mt-2">
        <li class="list-group-item">Andere Alte/Zweites Ass ("Other Old Man" / "Second Ace"): <br>
          The forehand plays an ace face down. When all the others have played their cards, also face down, the cards are turned over. If another player has played the same ace, he wins the trick. Otherwise the trick belongs to the forehand.</li>
        <li class="list-group-item"> Höher hat ("Higher wins"): <br>
          The forehand plays a card of his choice face down. The card can't be an Ace or of trump siut. The others do the same. As soon as everyone has played their
          cards face down, the forehand turns his card over and then all the others do the same with their cards. If one of the other players has a higher card of the same suit, they win the trick; otherwise the forehand wins it.</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="  align-items-center justify-content-center px-5 mb-2">

      <h4 class="font-alt mt-4">Winning a trick</h4>
      After each round, every player draws a card from the deck. The player who won the last trick leads to the next. Of his five cards he may play one of his choice. The rest of the players follow in anti-clockwise
      order without any compulsion to play a trump, follow suit or win the trick.

      In determining who wins the trick: trumps beat plain suited cards; the higher card wins if cards are of the same suit; the playing going first wins if both cards are the same value and suit. The winner of the trick draws another card
      from the deck and the others follow in order. Thus all the players have a hand of five cards again.
    </div>
  </div>
  <div class="container">
    <div class="  align-items-center justify-content-center px-5 mb-2">
      <h4 class="font-alt mt-4">Melding</h4>
      Once a player (or his team in the partnership game) has won a trick, he may meld at any time in the game. He then announces that he has a pair comprising a King and Ober of the same suit. A trump pair is worth 40 points, plain suit
      pairs are worth 20 points. To do this the player simply announces "Forty" or "Twenty".
      A card already used in a meld may not be used a second time for by the same player.
      So that a meld is not forgotten, the player claiming it may slide one of his trick cards of the same suite with the face up under his trick card pile.
    </div>
  </div>
  <div>
    <aside class="text-center bg-gradient-primary-to-secondary">
      <img src="/images/rules/pair.png" height="90px"></img>
    </aside>
  </div>
  <div class="container">
    <div class="  align-items-center justify-content-center px-5 mb-2">
      <h4 class="font-alt mt-4">Robbing (Rauben)</h4>
      The player who has (or draws) a 7 of trumps and is the first to turn it over can exchange it for the trump card under the deck, provided that he already has a trick. The Diss robbery is announced by putting the Diss under the
      trump card and thus acquiring the right to steal the trump card.
    </div>
  </div>
  <div>
    <aside class="text-center bg-gradient-primary-to-secondary">
      <img src="/images/rules/deck-rob.png" height="90px"></img>
    </aside>
  </div>
  <div class="container">
    <div class="  align-items-center justify-content-center px-5 mb-2">
      <h4 class="font-alt mt-4">Game after deck is used up</h4>
      As soon as the deck is empty, players must follow suit if possible and have to win the trick if they can.
    </div>
  </div>


</section>
<!-- Footer-->
<footer class="bg-black text-center py-5">
  <div class="container px-5">
    <div class="text-white-50 small">
      <div class="mb-2">&copy; Gaigel 2021. All Rights Reserved.</div>
      <a href="#" data-bs-toggle="modal" data-bs-target="#cookieModal">Cookies Policy</a>
      <span class="mx-1">&middot;</span>
      <a href="mailto:inf18157@lehre.dhbw-stuttgart.de">Contact</a>
      <span class="mx-1">&middot;</span>
      <a href="#" data-bs-toggle="modal" data-bs-target="#privacyModal">Privacy Policy</a>
    </div>
  </div>
</footer>

<!-- Cookie Banner -->
<div class="nk-cookie-banner alert alert-light text-center mb-0" role="alert">
  🍪 This website uses cookies to ensure you get the best experience on our website.
  <a href="#" data-bs-toggle="modal" data-bs-target="#cookieModal">Learn more</a>
  <button type="button" class="btn btn-primary btn-sm ml-3" onclick="window.nk_hideCookieAlert()">
    I Got It
  </button>
</div>
<!-- End of Cookie Banner -->

<!-- Cookie Policy modal-->
<div class="modal fade" id="cookieModal" tabindex="-1" aria-labelledby="cookieModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-gradient-primary-to-secondary p-4">
        <h5 class="modal-title font-alt text-white" id="cookieModalLabel">Cookies Policy</h5>
        <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body border-0 p-4">
        <form>
          <h1>Cookies Policy</h1>
          <p>Last updated: May 26, 2021</p>
          <p>This Cookies Policy explains what Cookies are and how We use them. You should read this policy so You can understand what type of cookies We use, or the information We collect using Cookies and how that information is used.</p>
          <p>Cookies do not typically contain any information that personally identifies a user, but personal information that we store about You may be linked to the information stored in and obtained from Cookies. For further information on how We
            use, store and keep your personal data secure, see our Privacy Policy.</p>
          <p>We do not store sensitive personal information, such as mailing addresses, account passwords, etc. in the Cookies We use.</p>
          <h1>Interpretation and Definitions</h1>
          <h2>Interpretation</h2>
          <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
          <h2>Definitions</h2>
          <p>For the purposes of this Cookies Policy:</p>
          <ul>
            <li><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Cookies Policy) refers to Gaigel.</li>
            <li><strong>Cookies</strong> means small files that are placed on Your computer, mobile device or any other device by a website, containing details of your browsing history on that website among its many uses.</li>
            <li><strong>Website</strong> refers to Gaigel, accessible from <a href="https://gaigelapp.herokuapp.com" rel="external nofollow noopener" target="_blank">https://gaigelapp.herokuapp.com</a></li>
            <li><strong>You</strong> means the individual accessing or using the Website, or a company, or any legal entity on behalf of which such individual is accessing or using the Website, as applicable.</li>
          </ul>
          <h1>The use of the Cookies</h1>
          <h2>Type of Cookies We Use</h2>
          <p>Cookies can be &quot;Persistent&quot; or &quot;Session&quot; Cookies. Persistent Cookies remain on your personal computer or mobile device when You go offline, while Session Cookies are deleted as soon as You close your web browser.</p>
          <p>We use both session and persistent Cookies for the purposes set out below:</p>
          <ul>
            <li>
              <p><strong>Necessary / Essential Cookies</strong></p>
              <p>Type: Session Cookies</p>
              <p>Administered by: Us</p>
              <p>Purpose: These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these
                Cookies, the services that You have asked for cannot be provided, and We only use these Cookies to provide You with those services.</p>
            </li>
            <li>
              <p><strong>Functionality Cookies</strong></p>
              <p>Type: Persistent Cookies</p>
              <p>Administered by: Us</p>
              <p>Purpose: These Cookies allow us to remember choices You make when You use the Website, such as remembering your login details or language preference. The purpose of these Cookies is to provide You with a more personal experience and
                to avoid You having to re-enter your preferences every time You use the Website.</p>
            </li>
          </ul>
          <h2>Your Choices Regarding Cookies</h2>
          <p>If You prefer to avoid the use of Cookies on the Website, first You must disable the use of Cookies in your browser and then delete the Cookies saved in your browser associated with this website. You may use this option for preventing
            the use of Cookies at any time.</p>
          <p>If You do not accept Our Cookies, You may experience some inconvenience in your use of the Website and some features may not function properly.</p>
          <p>If You'd like to delete Cookies or instruct your web browser to delete or refuse Cookies, please visit the help pages of your web browser.</p>
          <ul>
            <li>
              <p>For the Chrome web browser, please visit this page from Google: <a href="https://support.google.com/accounts/answer/32050" rel="external nofollow noopener" target="_blank">https://support.google.com/accounts/answer/32050</a></p>
            </li>
            <li>
              <p>For the Internet Explorer web browser, please visit this page from Microsoft: <a href="http://support.microsoft.com/kb/278835" rel="external nofollow noopener" target="_blank">http://support.microsoft.com/kb/278835</a></p>
            </li>
            <li>
              <p>For the Firefox web browser, please visit this page from Mozilla: <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" rel="external nofollow noopener"
                  target="_blank">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a></p>
            </li>
            <li>
              <p>For the Safari web browser, please visit this page from Apple: <a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac" rel="external nofollow noopener"
                  target="_blank">https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a></p>
            </li>
          </ul>
          <p>For any other web browser, please visit your web browser's official web pages.</p>
          <h2>More Information about Cookies</h2>
          <p>You can learn more about cookies: <a href="https://www.privacypolicies.com/blog/cookies/" target="_blank">What Are Cookies?</a>.</p>
          <h2>Contact Us</h2>
          <p>If you have any questions about this Cookies Policy, You can contact us:</p>
          <ul>
            <li>By email: inf18157@lehre.dhbw-stuttgart.de</li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Cookie Policy modal-->
<div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-gradient-primary-to-secondary p-4">
        <h5 class="modal-title font-alt text-white" id="privacyModalLabel">Privacy Policy</h5>
        <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body border-0 p-4">
        <form>
          <h1>Privacy Policy</h1>
          <p>Last updated: May 26, 2021</p>
          <p>This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
          <p>We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy.</p>
          <h1>Interpretation and Definitions</h1>
          <h2>Interpretation</h2>
          <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
          <h2>Definitions</h2>
          <p>For the purposes of this Privacy Policy:</p>
          <ul>
            <li>
              <p><strong>Account</strong> means a unique account created for You to access our Service or parts of our Service.</p>
            </li>
            <li>
              <p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to Gaigel.</p>
            </li>
            <li>
              <p><strong>Cookies</strong> are small files that are placed on Your computer, mobile device or any other device by a website, containing the details of Your browsing history on that website among its many uses.</p>
            </li>
            <li>
              <p><strong>Country</strong> refers to: Baden-Württemberg, Germany</p>
            </li>
            <li>
              <p><strong>Device</strong> means any device that can access the Service such as a computer, a cellphone or a digital tablet.</p>
            </li>
            <li>
              <p><strong>Personal Data</strong> is any information that relates to an identified or identifiable individual.</p>
            </li>
            <li>
              <p><strong>Service</strong> refers to the Website.</p>
            </li>
            <li>
              <p><strong>Service Provider</strong> means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the
                Service on behalf of the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.</p>
            </li>
            <li>
              <p><strong>Usage Data</strong> refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).</p>
            </li>
            <li>
              <p><strong>Website</strong> refers to Gaigel, accessible from <a href="https://gaigelapp.herokuapp.com" rel="external nofollow noopener" target="_blank">https://gaigelapp.herokuapp.com</a></p>
            </li>
            <li>
              <p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
            </li>
          </ul>
          <h1>Collecting and Using Your Personal Data</h1>
          <h2>Types of Data Collected</h2>
          <h3>Personal Data</h3>
          <p>While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:</p>
          <ul>
            <li>
              <p>First name and last name</p>
            </li>
            <li>
              <p>Usage Data</p>
            </li>
          </ul>
          <h3>Usage Data</h3>
          <p>Usage Data is collected automatically when using the Service.</p>
          <p>Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages,
            unique device identifiers and other diagnostic data.</p>
          <p>When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile
            device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.</p>
          <p>We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.</p>
          <h3>Tracking Technologies and Cookies</h3>
          <p>We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze
            Our Service. The technologies We use may include:</p>
          <ul>
            <li><strong>Cookies or Browser Cookies.</strong> A cookie is a small file placed on Your Device. You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept Cookies, You
              may not be able to use some parts of our Service. Unless you have adjusted Your browser setting so that it will refuse Cookies, our Service may use Cookies.</li>
            <li><strong>Flash Cookies.</strong> Certain features of our Service may use local stored objects (or Flash Cookies) to collect and store information about Your preferences or Your activity on our Service. Flash Cookies are not managed by
              the same browser settings as those used for Browser Cookies. For more information on how You can delete Flash Cookies, please read &quot;Where can I change the settings for disabling, or deleting local shared objects?&quot; available at
              <a href="https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_" rel="external nofollow noopener"
                target="_blank">https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_</a>
            </li>
            <li><strong>Web Beacons.</strong> Certain sections of our Service and our emails may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Company, for
              example, to count users who have visited those pages or opened an email and for other related website statistics (for example, recording the popularity of a certain section and verifying system and server integrity).</li>
          </ul>
          <p>Cookies can be &quot;Persistent&quot; or &quot;Session&quot; Cookies. Persistent Cookies remain on Your personal computer or mobile device when You go offline, while Session Cookies are deleted as soon as You close Your web browser.
            Learn more about cookies: <a href="https://www.privacypolicies.com/blog/cookies/" target="_blank">What Are Cookies?</a>.</p>
          <p>We use both Session and Persistent Cookies for the purposes set out below:</p>
          <ul>
            <li>
              <p><strong>Necessary / Essential Cookies</strong></p>
              <p>Type: Session Cookies</p>
              <p>Administered by: Us</p>
              <p>Purpose: These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these
                Cookies, the services that You have asked for cannot be provided, and We only use these Cookies to provide You with those services.</p>
            </li>
            <li>
              <p><strong>Cookies Policy / Notice Acceptance Cookies</strong></p>
              <p>Type: Persistent Cookies</p>
              <p>Administered by: Us</p>
              <p>Purpose: These Cookies identify if users have accepted the use of cookies on the Website.</p>
            </li>
            <li>
              <p><strong>Functionality Cookies</strong></p>
              <p>Type: Persistent Cookies</p>
              <p>Administered by: Us</p>
              <p>Purpose: These Cookies allow us to remember choices You make when You use the Website, such as remembering your login details or language preference. The purpose of these Cookies is to provide You with a more personal experience and
                to avoid You having to re-enter your preferences every time You use the Website.</p>
            </li>
          </ul>
          <p>For more information about the cookies we use and your choices regarding cookies, please visit our Cookies Policy or the Cookies section of our Privacy Policy.</p>
          <h2>Use of Your Personal Data</h2>
          <p>The Company may use Personal Data for the following purposes:</p>
          <ul>
            <li>
              <p><strong>To provide and maintain our Service</strong>, including to monitor the usage of our Service.</p>
            </li>
            <li>
              <p><strong>To manage Your Account:</strong> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered
                user.</p>
            </li>
            <li>
              <p><strong>For the performance of a contract:</strong> the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.</p>
            </li>
            <li>
              <p><strong>To contact You:</strong> To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications
                related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.</p>
            </li>
            <li>
              <p><strong>To provide You</strong> with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted
                not to receive such information.</p>
            </li>
            <li>
              <p><strong>To manage Your requests:</strong> To attend and manage Your requests to Us.</p>
            </li>
            <li>
              <p><strong>For business transfers:</strong> We may use Your information to evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Our assets, whether as a going
                concern or as part of bankruptcy, liquidation, or similar proceeding, in which Personal Data held by Us about our Service users is among the assets transferred.</p>
            </li>
            <li>
              <p><strong>For other purposes</strong>: We may use Your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Service,
                products, services, marketing and your experience.</p>
            </li>
          </ul>
          <p>We may share Your personal information in the following situations:</p>
          <ul>
            <li><strong>With Service Providers:</strong> We may share Your personal information with Service Providers to monitor and analyze the use of our Service, to contact You.</li>
            <li><strong>For business transfers:</strong> We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of Our
              business to another company.</li>
            <li><strong>With Affiliates:</strong> We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include Our parent company and any other subsidiaries, joint
              venture partners or other companies that We control or that are under common control with Us.</li>
            <li><strong>With business partners:</strong> We may share Your information with Our business partners to offer You certain products, services or promotions.</li>
            <li><strong>With other users:</strong> when You share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside.</li>
            <li><strong>With Your consent</strong>: We may disclose Your personal information for any other purpose with Your consent.</li>
          </ul>
          <h2>Retention of Your Personal Data</h2>
          <p>The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use Your Personal Data to the extent necessary to comply with our legal obligations (for
            example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>
          <p>The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of Our
            Service, or We are legally obligated to retain this data for longer time periods.</p>
          <h2>Transfer of Your Personal Data</h2>
          <p>Your information, including Personal Data, is processed at the Company's operating offices and in any other places where the parties involved in the processing are located. It means that this information may be transferred to — and
            maintained on — computers located outside of Your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from Your jurisdiction.</p>
          <p>Your consent to this Privacy Policy followed by Your submission of such information represents Your agreement to that transfer.</p>
          <p>The Company will take all steps reasonably necessary to ensure that Your data is treated securely and in accordance with this Privacy Policy and no transfer of Your Personal Data will take place to an organization or a country unless
            there are adequate controls in place including the security of Your data and other personal information.</p>
          <h2>Disclosure of Your Personal Data</h2>
          <h3>Business Transactions</h3>
          <p>If the Company is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. We will provide notice before Your Personal Data is transferred and becomes subject to a different Privacy Policy.</p>
          <h3>Law enforcement</h3>
          <p>Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>
          <h3>Other legal requirements</h3>
          <p>The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</p>
          <ul>
            <li>Comply with a legal obligation</li>
            <li>Protect and defend the rights or property of the Company</li>
            <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
            <li>Protect the personal safety of Users of the Service or the public</li>
            <li>Protect against legal liability</li>
          </ul>
          <h2>Security of Your Personal Data</h2>
          <p>The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your
            Personal Data, We cannot guarantee its absolute security.</p>
          <h1>Children's Privacy</h1>
          <p>Our Service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from anyone under the age of 13. If You are a parent or guardian and You are aware that Your child has provided Us
            with Personal Data, please contact Us. If We become aware that We have collected Personal Data from anyone under the age of 13 without verification of parental consent, We take steps to remove that information from Our servers.</p>
          <p>If We need to rely on consent as a legal basis for processing Your information and Your country requires consent from a parent, We may require Your parent's consent before We collect and use that information.</p>
          <h1>Links to Other Websites</h1>
          <p>Our Service may contain links to other websites that are not operated by Us. If You click on a third party link, You will be directed to that third party's site. We strongly advise You to review the Privacy Policy of every site You
            visit.</p>
          <p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
          <h1>Changes to this Privacy Policy</h1>
          <p>We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</p>
          <p>We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective and update the &quot;Last updated&quot; date at the top of this Privacy Policy.</p>
          <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
          <h1>Contact Us</h1>
          <p>If you have any questions about this Privacy Policy, You can contact us:</p>
          <ul>
            <li>By email: inf18157@lehre.dhbw-stuttgart.de</li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  window.addEventListener('DOMContentLoaded', event => {

    /* Javascript to show and hide cookie banner using localstroage */
    /* Shows the Cookie banner */
    function showCookieBanner() {
      let cookieBanner = document.getElementsByClassName("nk-cookie-banner")[0];
      cookieBanner.style.display = "block";
    }
    /* Hides the Cookie banner and saves the value to localstorage */
    function hideCookieBanner() {
      localStorage.setItem("isCookieAccepted", "yes");
      let cookieBanner = document.getElementsByClassName("nk-cookie-banner")[0];
      cookieBanner.style.display = "none";
    }
    /* Checks the localstorage and shows Cookie banner based on it. */
    function initializeCookieBanner() {
      let isCookieAccepted = localStorage.getItem("isCookieAccepted");
      if (isCookieAccepted === null) {
        localStorage.clear();
        localStorage.setItem("isCookieAccepted", "no");
        showCookieBanner();
      }
      if (isCookieAccepted === "no") {
        showCookieBanner();
      }
    }
    // Assigning values to window object
    window.nk_hideCookieAlert = hideCookieBanner;
    initializeCookieBanner();

    // Activate Bootstrap scrollspy on the main nav element
    const mainNav = document.body.querySelector('#mainNav');
    if (mainNav) {
      new bootstrap.ScrollSpy(document.body, {
        target: '#mainNav',
        offset: 74,
      });
    };

    // Collapse responsive navbar when toggler is visible
    const navbarToggler = document.body.querySelector('.navbar-toggler');
    const responsiveNavItems = [].slice.call(
      document.querySelectorAll('#navbarResponsive .nav-link')
    );
    responsiveNavItems.map(function (responsiveNavItem) {
      responsiveNavItem.addEventListener('click', () => {
        if (window.getComputedStyle(navbarToggler).display !== 'none') {
          navbarToggler.click();
        }
      });
    });

  });


</script>