<div class="container p-4">
    <div class="container text-center p-3">
        <img src="/images/headLogo.png" height="180" class="img" title="Gaigel Logo">
    </div>
    <div class="row">
        <div class="col-8">
            <%- include ../list/roomtable.ejs %>
        </div>
        <div class="col-4">
            <% include ../list/user.ejs %>
                <div class="card card-transparent mt-3 p-3" id="activeRoom">

                </div>
                <div class="card card-transparent mt-3 p-3">
                    <a type="button" class="btn btn-primary m-2" href="/create"><i class="bi bi-plus-lg text-white"></i>Create new Room</a>
                </div>

        </div>
    </div>
</div>
<% if (errmsg) { %>
    <div class="modal fade" id="errModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-dark">
                <div class="modal-body">
                    <div id="errmsg" style="color: red; font-size: 1.2rem; font-weight: 600;" class="mb-1">
                        <%= errmsg %>
                    </div>
                    <small class="text-muted">Click anywhere outside this box to close it.</small>
                </div>
            </div>
        </div>
    </div>
    <% } %>


        <%- include ../list/modal_password.ejs %>


            <!-- load roomlist functions -->
            <script src="/js/roomlist.js"></script>