<hr class="m-0">
<div id="chatfield" class="p-2 scrollbar scrollbar-primary">

</div>
<div class="input-group chatmsgsend">
    <input type="text" id="fpost" class="form-control bg-light chatinput"></input>
    <div class="input-group-append">
        <button id="bpost" type="button" class="btn btn-primary chatinput"><i class="bi bi-arrow-left"></i></button>
    </div>
</div>