<div class="container p-4">
    <div class="container text-center p-3">
        <img src="/images/headLogo.png" height="180" class="img">
    </div>
    <div class="row">
        <div class="col-8">
            <div class="card card-transparent text-white shadow text-center maincard">
                <%- include ../list/room_settings.ejs %>
            </div>
        </div>
        <div class="col-4">
            <!-- < include ../list/user.ejs %> -->

            <div class="card card-transparent mt-3 p-3">
                <a type="button" class="btn btn-primary m-2" href="/list">Back To Room List</a>
            </div>
        </div>
    </div>
</div>

<%- include ../list/modal_change_username.ejs %>