<div class="container p-4">
    <div class="container text-center p-3">
        <img src="/images/headLogo.png" height="180" class="img">
    </div>
    <div class="row">
        <div class="col-8">
            <%- include ../list/roomtable.ejs %>
        </div>
        <div class="col-4">
            <% include ../list/user.ejs %>
                <div class="card card-transparent mt-3 p-3">
                    <a type="button" class="btn btn-primary m-2" href="/create"><i class="bi bi-plus-lg text-white"></i>Create new Room</a>
                </div>
        </div>
    </div>
</div>

<%- include ../list/modal_change_username.ejs %>

    <script>
        const rl = $("#roomlist").children("tbody");
        var rooms = [];

        function getAllRooms() {
            rooms = [];
            // TODO - This should be replaced with a custom route call to ensure password safety
            $.get("/room", function (data, status) {
                data.forEach((room) => {
                    room.players = room.jsonplayers.length;
                    rooms.push(room);
                    renderRoom(room);
                });
            });
        }


        function renderRoom(room) {
            let target = $(`#${room.hashID}`);
            let playerIcons = '';
            for (let i = 0; i < room.players; i++) {
                playerIcons += '<i class="bi bi-person-fill"></i>';
            }
            for (let i = 0; i < room.maxplayers - room.players; i++) {
                playerIcons += '<i class="bi bi-person"></i>';
            }
            if (target.length) {
                target.children(".rpl").html(playerIcons);
            } else {

                rl.append(`
                    <tr id="${room.hashID}" onclick=" window.location.href='/room/${room.hashID}';">
                        <td class="rname">${room.name}</td>
                        <td class="rpl">` + playerIcons + `</td>
                        <td class="rpw">${room.password ? "<i class='bi bi-x-square-fill'></i>" : "<i class='bi bi-check-square-fill'></i>"}</td>
                    </tr>`);
            }
        }

        window.onload = function () {
            getAllRooms();
        };

        io.socket.on("listevent", function (data) {
            console.log(data);
            renderRoom(data.room);
        });

    </script>