<style>
  .middle {
    padding-top: 20vh;
  }
</style>

<div class="container text-center middle">

  <img alt="404" src="/images/font_404.png" class="mx-auto d-block">


  <div>
    <h1 class="text-white">
      Error
    </h1>
    <h3 class="text-white">
      <% if (typeof error!=='undefined' ) { %>
        <%= error %>
          <% } else { %>
            The page you were trying to reach doesn't exist.
            <% } %>
    </h3>
  </div>

</div>