<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Swabian Gaigel</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Play Gaigel Online Free" />
  <meta name="author" content="Jens Buehler, Daniel Widmayer" />

  <% /* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <% /* <meta name="robots" content="noindex" />
    */%>


    <link rel="stylesheet" href="/styles/roomList.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-icons-1.4.1/bootstrap-icons.css">
    <link rel="stylesheet" href="/dependencies/bootstrap.min.css">
    <!--STYLES END-->


    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/bootstrap.bundle.min.js"></script>
    <!--SCRIPTS END-->
    <script src="/js/cookies.js"></script>

</head>

<body>

  <%- body %>


    <!--TEMPLATES-->
    <!--TEMPLATES END-->


</body>

</html>