<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Play Gaigel Online Free" />
    <meta name="author" content="Jens Buehler, Daniel Widmayer" />
    <title>Play Gaigel Online Free</title>

    <link rel="stylesheet" href="/styles/index.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-icons-1.4.1/bootstrap-icons.css">
    <link rel="stylesheet" href="/dependencies/bootstrap.min.css">
    <!--STYLES END-->

    <link rel="stylesheet" href="/styles/index.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-icons-1.4.1/bootstrap-icons.css">
    <link rel="stylesheet" href="/dependencies/bootstrap.min.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/bootstrap.bundle.min.js"></script>
    <!--SCRIPTS END-->
    <script src="/js/cookies.js"></script>

</head>

<body id="page-top">

    <%- body %>

</body>

</html>