<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Primary Meta Tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="author" content="Jens Buehler, Daniel Widmayer" />
  <title>Gaigel Online - Free & Without Registration</title>
  <meta name="title" content="Gaigel Online - Join My Game Room">
  <meta name="description" content="Come and Play the traditional swabian game Gaigel with me! Playing is totally free so stop waiting, start playing!">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Gaigel Online - Join My Game Room">
  <meta property="og:description" content="Come and Play the traditional swabian game Gaigel with me! Playing is totally free so stop waiting, start playing!">
  <meta property="og:image" content="https://gaigelapp.herokuapp.com/images/headLogo.png">
  <meta property="og:url" content="https://gaigelapp.herokuapp.com" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="Gaigel Online - Join My Game Room">
  <meta property="twitter:description" content="Come and Play the traditional swabian game Gaigel with me! Playing is totally free so stop waiting, start playing!">
  <meta property="twitter:image" content="https://gaigelapp.herokuapp.com/images/headLogo.png">


  <!--STYLES-->
  <link rel="stylesheet" href="/styles/gameField.css">
  <link rel="stylesheet" href="/dependencies/bootstrap-icons-1.4.1/bootstrap-icons.css">
  <link rel="stylesheet" href="/dependencies/bootstrap.min.css">
  <!--STYLES END-->

  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <script src="/dependencies/jquery.min.js"></script>
  <script src="/dependencies/bootstrap.bundle.min.js"></script>
  <script src="/js/deckType.js"></script>
  <script src="/js/cards.js"></script>
  <script src="/js/gameLogic.js"></script>
  <!--SCRIPTS END-->
</head>

<body>

  <%- body %>


</body>

<script src="/js/gameProps.js"></script>
<script src="/js/gameChat.js"></script>
<script src="/js/userList.js"></script>

</html>