<div class="card card-transparent text-white shadow">
    <div id="username" class="text-center">
        <h1><i class="bi bi-person"></i></h1>
        <h3>
            <p>
                <%= username %>
            </p>
            <div id="userid">
                <p>#<%= userhash %>
                </p>
            </div>
        </h3>
    </div>
    <button type="button" class="btn btn-primary m-2" onclick="$('#changeUsernameModal').modal('show');">Change Username</button>
</div>