<div id="chatfield" class="card">

</div>
<div class="input-group chatmsg">
    <input type="text" id="fpost" class="form-control bg-light"></input>
    <div class="input-group-append">
        <button id="bpost" type="button" class="btn btn-primary"><i class="bi bi-arrow-left"></i></button>
    </div>
</div>