aside,
section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bg-black {
    background-color: #000 !important;
}

.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #007f00, #224022) !important;
}

.features-device-mockup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.features-device-mockup .circle {
    position: absolute;
    left: 0;
    fill: url(#circleGradient);
    width: 70%;
    display: none;
}
.features-device-mockup .circle .gradient-start-color {
    stop-color: #007f00;
}
.features-device-mockup .circle .gradient-end-color {
    stop-color: #224022;
}
.features-device-mockup .shape-1 {
    position: absolute;
    height: 1rem;
    width: 1rem;
    transform: rotate(10deg);
    fill: #2937f0;
    top: 15%;
    right: 10%;
}
.features-device-mockup .shape-2 {
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    fill: #2937f0;
    bottom: 15%;
    left: 10%;
}
.features-device-mockup .device-wrapper {
    max-width: 10rem;
}

@media (min-width: 576px) {
    .features-device-mockup .circle {
        width: 70%;
        display: block;
        left: auto;
    }
    .features-device-mockup .device-wrapper {
        max-width: 12.5rem;
    }
}
@media (min-width: 768px) {
    .features-device-mockup .circle {
        width: 60%;
        left: auto;
    }
    .features-device-mockup .device-wrapper {
        max-width: 20rem;
    }
}
@media (min-width: 992px) {
    .features-device-mockup .circle {
        width: 90%;
        left: -25%;
    }
    .features-device-mockup .shape-1 {
        top: 5%;
        right: -15%;
    }
    .features-device-mockup .shape-2 {
        bottom: 10%;
        left: -10%;
    }
    .features-device-mockup .device-wrapper {
        max-width: 15rem;
        margin-left: auto;
    }
}
@media (min-width: 1200px) {
    .features-device-mockup .circle {
        width: 75%;
        left: 0;
    }
    .features-device-mockup .shape-2 {
        bottom: 15%;
        left: 10%;
    }
    .features-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 1400px) {
    .features-device-mockup .circle {
        width: 80%;
        left: 0;
    }
    .features-device-mockup .device-wrapper {
        max-width: 17rem;
    }
}

footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
footer a:hover,
footer a:active,
footer a:focus {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: underline;
}

.icon-feature {
    font-size: 4rem;
}

.img-rules{
    max-height: 90px;
}

.justify-text{
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;   
}

.nk-cookie-banner { position: fixed!important; bottom: 0px; left: 0px; width: 100%; z-index: 999; border-radius: 0px; display: none; }


#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #0275d8;
}

.masthead {
    background-color: #f8f9fa;
    padding-top: 9.5rem;
    padding-bottom: 5rem;
}
.masthead .masthead-device-mockup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.masthead .masthead-device-mockup .circle {
    position: absolute;
    fill: url(#circleGradient);
    width: 70%;
    display: block;
}
.masthead .masthead-device-mockup .circle .gradient-start-color {
    stop-color: #007f00;
}
.masthead .masthead-device-mockup .circle .gradient-end-color {
    stop-color: #224022;
}
.masthead .masthead-device-mockup .shape-1 {
    position: absolute;
    height: 1rem;
    width: 1rem;
    transform: rotate(-10deg);
    fill: #2937f0;
    bottom: 15%;
    left: 10%;
}
.masthead .masthead-device-mockup .shape-2 {
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    fill: #2937f0;
    top: 15%;
    right: 10%;
}
.masthead .masthead-device-mockup .device-wrapper {
    max-width: 10rem;
}
@media (min-width: 576px) {
    .masthead .masthead-device-mockup .circle {
        width: 70%;
        display: block;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 12.5rem;
    }
}
@media (min-width: 768px) {
    .masthead .masthead-device-mockup .circle {
        width: 60%;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 992px) {
    .masthead .masthead-device-mockup .circle {
        width: 90%;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 1200px) {
    .masthead .masthead-device-mockup .circle {
        width: 75%;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 15rem;
    }
}
@media (min-width: 1400px) {
    .masthead .masthead-device-mockup .circle {
        width: 70%;
    }
    .masthead .masthead-device-mockup .device-wrapper {
        max-width: 17rem;
    }
}

section.cta {
    position: relative;
    padding: 15rem 0;
    background-image: url("/images/Gaigel_Wallpaper.jpg");
    background-position: center;
    background-size: cover;
}
section.cta .cta-content {
    position: relative;
    z-index: 1;
}
section.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.text-gradient {
    background: -webkit-linear-gradient(#007f00, #224022);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
