body {
    background-image: url("/images/Gaigel_Wallpaper.jpg")!important;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.card-transparent{
    background-color: rgba(0, 0, 0, 0.5)!important;
}

.card-light-transparent{
    background-color: rgba(255, 255, 255, 0.1)!important;
}

.input-transparent
{
    background: rgba(0, 0, 0, 0.2)!important;
    border: none!important;
    color: white!important;
    padding: .375rem .75rem;
    width: 70%;
}

.input-transparent:focus
{
    outline: none!important;
}

.input-transparent::placeholder{
    color: rgba(255, 255, 255, 0.7)!important;
}

/* .input-transparent:
{
    outline: none!important;
} */

.table{
    color: #fff!important; 
}
thead {
    position: -webkit-sticky;
    position: sticky;
}

tr:hover {
    background-color: rgba(200, 200, 200, 0.2)!important;
    cursor: pointer;
}

.scrollbar {
    float: left;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #005ff8;
    height: 100%;
    padding-left: 12px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 15px;
}
    
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #00102ab4;
    background-color: #005ff8; 
}

.scrollbar-primary {
    scrollbar-color: #005ff8 ;
}

.maincard{
    height: 60vh;
}

#pwfield {
    display: none;
}

.posterr{
    font-size: 0.9rem!important;
}

.modal-dark{
    background-color: #00000099!important;
}

.col-inverse{
    background: #292b2c!important;
    color: white!important;
}

.col-inverse:hover{
    background-color: #202122!important;
}

.btn:focus{
    box-shadow: 0 0 0 0.25rem #292b2c44!important;
}

input:focus{
    box-shadow: 0 0 0 0.25rem #292b2c44!important;
}
