<!-- password modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel"></h5>
                <button type="button" class="btn btn-secondary close" onclick="$('#passwordModal').modal('hide')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="pwForm" action="/protect">
                    <input type="text" id="hiddenhash" name="hash" hidden>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Password</span>
                    </div>
                    <input name="passwd" id="passwd" type="password" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                </form>
                <span id="pwerr" style="color: red;"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#pwForm').submit(); ">Send</button>
            </div>
        </div>
    </div>
</div>