<div class="card card-transparent text-white shadow text-center maincard">
    <h2>Roomlist</h2>
    <hr class="m-0">
    <div class="scrollbar scrollbar-primary">
        <table class="table" id="roomlist">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Room</th>
                    <th scope="col">Players</th>
                    <th scope="col">Privacy</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>