<h2>Settings</h2>
<hr class="mt-0">
<div class="m-3">
    <form method="POST" id="createRoomForm" action="/create">
        <div class="card card-light-transparent mb-3">
            <div class="input-group m-3">
                <div class="input-group-prepend">
                    <span class="input-group-text col-inverse" id="ba1">Room Name</span>
                </div>
                <input type="text" id="roomName" name="roomname" class="input-transparent" required autocomplete="off" aria-label="Room Name" aria-describedby="ba1" value="<%= roomname %>">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card card-light-transparent mb-3">
                    <div class="input-group m-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text col-inverse" for="playerSelect">Players</label>
                        </div>
                        <select class="custom-select" name="maxplayers" id="playerSelect">
                            <option selected>Choose...</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="4">Four</option>
                            <option value="6">Six</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card card-light-transparent mb-3 p-1 pb-2">
                    <div class="form-check m-3">
                        <input class="form-check-input" type="checkbox" name="score" checked>
                        <label class="form-check-label" style="float: left;">
                            Show Scores
                        </label>
                    </div>
                    <!-- <div class="form-check m-2">
                        Game Mode:
                        <div id="carouselGamevariants" class="carousel slide" data-interval="false" data-ride="carousel" data-pause="hover">
                            <div class="carousel-inner mb-1">
                                <div class="carousel-item active">
                                    Classic
                                </div>
                                <div class="carousel-item">
                                    Allow Variations
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselGamevariants" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselGamevariants" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="card card-light-transparent mb-3">
            <div class="row m-3">
                <div class="col form-check my-2">
                    <input class="form-check-input" type="checkbox" name="pwcb" value="1" id="flexCheckPw" onclick="$('#pwfield').toggle('hidden');">
                    <label class="form-check-label" style="float: left;" for="flexCheckPw">
                        Private Game
                    </label>
                </div>
                <div id="pwfield" class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text col-inverse">Password</span>
                        </div>
                        <input type="password" class="form-control input-transparent" name="passwd" placeholder="password" aria-label="Password">
                    </div>
                </div>
            </div>

        </div>
        <button type="button" class="btn btn-primary" onclick="$('#createRoomForm').submit();">Create Room</button>
    </form>

</div>