<div class="card card-transparent text-white shadow">
    <div id="username" class="text-center">
        <h1><i class="bi bi-person"></i></h1>
        <h3>
            <p class="text-center" id="unameplaceholder">
                <%= username %>
                    <sup><a type="button" class="btn text-white" onclick="togglecolUI();" style="position: absolute;"><i class="bi bi-pencil"></i></a></sup>

            </p>
            <div class="collapse card card-light-transparent m-2" id="colUI">
                <form method="POST" id="changeUsernameForm" action="/username" class="p-2">
                    <div class="form-row">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="NiG">Name</span>
                            </div>
                            <input type="text" name="uname" id="unameinput" class="form-control input-transparent" aria-describedby="NiG" placeholder="enter new username ...">
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" onclick="$('#changeUsernameForm').submit(); ">Save</button>
                </form>
            </div>
            <div id="userid" class="mt-3">
                <p>#<%= userhash %>
                </p>
            </div>
        </h3>
    </div>
</div>