<form method="POST">
    <label for="roomname"> room name: <input type="text" name="roomname" required></label>
    <label for="players"> players <input type="number" min=2 max=4 name="maxplayers" required></label>
    <label for="passwd"> password (optional) <input type="password" name="passwd"></label>
    <button type="submit">Create</button>
</form>