<style>
    table, th {
        border: 1px solid black;
    }
</style>
<div style="width: 100%; background-color: brown; display: flex;">
    <div style="border: 3px solid grey; border-radius: 5px; box-sizing: border-box; width: 40%; margin: 5px;">
        <div style="box-sizing: border-box; margin: 5px 0 5px 0; text-align: center;">
            <div id="username" style="box-sizing: border-box; font-weight: bold; font-size: 40px; margin-top: 80px;">peter</div>
            <div id="userid" style="color: blue; margin-top: 15px; font-size: 25px; margin-bottom: 70px;">#445</div>
            <!--Abfrage beim join versuch "join as", userid wird nicht benötigt-->
            <input type="text" id="newname" placeholder="User445">
        </div>
    </div>
    <div style="border: 3px solid grey; border-radius: 5px; box-sizing: border-box; width: 60%; margin: 5px; overflow: auto;">
        <table id="roomlist" style="width: 100%;">
            <thead>
                <tr>
                    <th>Room</th>
                    <th>password</th>
                    <th>players</th>
                </tr>
            </thead>
            <tbody>

            </tbody>

        </table>
    </div>
</div>
<button id="brefresh" type="button">refresh list</button>
<a class="button" href="/create" id="newroom" style="margin-top: 10px;">Create new Room</a>

<script>
    const rl = $('#roomlist').children('tbody');
    const br = $('#brefresh');
    
    br.click(refreshlist);
    refreshlist();

    window.setInterval(refreshlist, 10000);

    function refreshlist() {
        rl.empty();
        $.get("/room", function(data, status) {
            data.forEach(room => {
                rl.append(`
                <tr onclick="window.location.href='/join/${room.hashID}';" onmouseover="over(this)" onmouseout="out(this)">
                    <td>${room.name}</td>
                    <td>${room.password.length > 0 ? 'yes':'no'}</td>
                    <td>${room.players.length}/${room.maxplayers}</td>
                </tr>`);
            })
        })
    }

    function over(el) {
        el.style.backgroundColor = "green";
    }
    function out(el) {
        el.style.backgroundColor = "brown";
    }

</script>