html {
    background-image: url("/images/Gaigel_Wallpaper.jpg")!important;
    background-size: cover;    
    background-repeat: no-repeat;
    height: 100vh;
}

body{
    background-color: transparent!important;
}

p{
    color: white;
}

footer{
    margin: 0!important;
}

.card-transparent{
    background-color: rgba(0, 0, 0, 0.5)!important;
}

.card-light-transparent{
    background-color: rgba(255, 255, 255, 0.1)!important;
}

.fieldcontainer {
    min-height: 80vh;
    height: 100%;
    width: 100%;
}

#deal {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 130px;
}   
img.preload {
    display: none;
}

#card-table {
    background-image: url("/images/tabletexture.jpg");
    height: 100%;
    width: 100%;
    border: solid 6px brown;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: #111 1px 1px 2px;
}


#chat {
    position: relative;
}

#chatfield{
    height: 30vh;
    overflow-y: scroll;
}

#gamehistoryfield{
    height: 30vh;
    overflow-y: scroll;
    color: white;
}

#userlist{
    height: 30%;
    padding: 7px!important;
    margin-bottom: 0px!important;
    color: white;
}

.chatmsgsend{
    position: relative !important;
    bottom: 0;
}

.chatmsg{
    display: flex;
    flex-direction: row;
    margin-bottom: .25rem;
    padding: 0 .5rem;
    border-radius: 5px;
    word-break: break-word;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}


footer {
    font-size: 12px;
    color: grey;
    margin: 10px;
}

.game-utils{
    position: absolute; 
    bottom: 0; 
    right: 0;
}

.btn-game{
    font-size: 2rem!important;
}


.icon-eichel:after{
    content: '';
    background:url('../images/eichel.png');
    background-size:cover;
        position:absolute;
    width:20px;
    height:20px;
    margin-left:5px;
}
.icon-schellen:after{
    content: '';
    background:url('../images/schellen.png');
    background-size:cover;
        position:absolute;
    width:20px;
    height:20px;
    margin-left:5px;
}
.icon-herz:after{
    content: '';
    background:url('../images/herz.png');
    background-size:cover;
        position:absolute;
    width:20px;
    height:20px;
    margin-left:5px;
}
.icon-blatt:after{
    content: '';
    background:url('../images/blatt.png');
    background-size:cover;
        position:absolute;
    width:20px;
    height:20px;
    margin-left:5px;
}

