<div class="m-5">
    <div class="row">
        <div class="col-8">
            <div class="card card-transparent fieldcontainer p-3">
                <img class="preload" src="/images/cards.png" title="Game Cards" />
                <div id="card-table">
                    <div class="game-utils">
                        <button id="bmeld" class="btn btn-game btn-secondary" title="Meld a Pair" disabled><i class="bi bi-people-fill"></i></button>
                        <button id="bsteal" class="btn btn-game btn-secondary" title="Rob the trump with a trump Seven" disabled><i class="bi bi-file-arrow-down"></i></button>
                        <button id="bstart" class="btn btn-game btn-secondary" title="Ready up"><i class="bi bi-check"></i></button>
                        <button id="bleave" class="btn btn-game btn-secondary" title="Leave Game"><i class="bi bi-door-open-fill"></i></button>
                    </div>
                </div>

                <footer>
                    <p class="mb-0">room#<%= hash %>
                    </p>
                </footer>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-transparent mb-3">
                <div id="game-history">
                    <h3 class="p-2 text-white">Game History<i class="px-2 bi bi-journal-text pow"></i></h3>
                    <hr class="m-0">
                    <div id="gamehistoryfield" class="scrollbar scrollbar-primary"></div>
                </div>
            </div>
            <div class="card card-transparent mb-3">
                <%- include roomparts/userlist.ejs %>
            </div>
            <div class="card card-transparent">
                <div id="chat">
                    <h3 class="p-2 text-white">Chat<i class="px-2 bi bi-chat-dots pow"></i></h3>
                    <%- include roomparts/chatfield.ejs %>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="currentUserIcon"><i class="bi bi-file-play-fill"></i></div>

<div class="modal fade" id="quitPageModal" tabindex="-1" role="dialog" style="z-index: 9999;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Quit Game</h5>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close" onclick="$('#quitPageModal').modal('hide')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to quit?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#quitPageModal').modal('hide')">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="socketleave()">Yes</button>
            </div>
        </div>
    </div>
</div>